[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SCIproj"]
	path = SCIproj
	url = https://github.com/saskiaotto/sciproj
[submodule "rquiz"]
	path = rquiz
	url = https://github.com/saskiaotto/rquiz
